# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../frontend\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Katherine\Desktop\Work2\SEM II\MPP\CMS-926-1\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
